@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

* {
  text-align: center;
}

body {
  background-image: url(https://external-preview.redd.it/tjqh5TgG2eSNOiGbfq7gMpiS04yB4zJ0tyvrW0RWSYU.png?auto=webp&s=8ada20e13273b9d5300696adcba4397517766b9a);
  background-repeat: no-repeat;
  background-color: #847e26;
}

a {
  color: #feca1b;
  text-decoration: none;
}

a:visited {
  color: #feca1b;
}

h1 {
  margin: 50px;
}

h2 {
  font-size: 28px;
  color: white;
}

h1>a {
  font-family: 'Pokemon Solid', sans-serif;
  text-decoration: none;
  font-size: 72px;
  color: #feca1b;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #3761a8;
}

h1>a:visited {
  color: #feca1b;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #3761a8;
}

.spinner {
  width: 65px;
  margin-left: 50px;
}

.hidden {
  display: none;
}

.pokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-details {
  display: inline-block;
  justify-content: center;
}

figure {
  width: 300px;
  background-color: #3761a8;
  padding: 50px;
  border-radius: 25px;
  margin: 50px;
}

figcaption {
  font-size: 28px;
  font-weight: 600;
  color: #feca1b;
}

li {
  list-style: none;
  margin: 25px;
}

.ability-name {
  color: red;
  font-weight: 600;
}

img {
  padding: 25px;
  padding-top: 5px;
  padding-bottom: 35px;
  width: 150px;
}

main {
  font-family: 'Press Start 2P', cursive;
}